
#example1 {

border: 2px solid black;

padding: 15px;

background: url(C:\Users\Hvuser\workspace\FTP107\webui\lmApp\src\assets\home12.jpg);

background-position: center;

background-repeat: no-repeat;

background-size: cover;

}
