

<div >
    
    <header background="C:\Users\Hvuser\workspace\FTP107\webui\lmApp\src\assets\home.jpg">
        <style>
            header{background-color: grey; }
            </style>
    
    <div style="text-align:center; width: 100%; height: 100%">

    <img align="right" src="../assets/hexaware1.png" style="height: 100px;width:210px">

    <img align="left" src="../assets/logo1.png" style="height: 150px">&nbsp;
        <h1 style="align-content: center">
    <b style="color :black">Canteen Management System</b>
    </h1>
    </div><br>
    </header>
    <router-outlet></router-outlet>
    </div>
